<form [formGroup]="msgForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Your name: </label>
    <input type="text" formControlName="user_name" requied minlength="4">
    <div *ngIf="this.msgForm.controls['user_name'].invalid" class="error">
      {{errorMsg.user_name}}
    </div>
  </div>
  <div>
    <label>Message:</label>
    <textarea formControlName="user_message" required minlength="25"></textarea>
    <div *ngIf="this.msgForm.controls['user_message'].invalid" class="error">
        {{errorMsg.user_message}}
      </div>
  </div>
  <div>
    <button type="submit" [disabled]="!msgForm.valid">Submit</button>
  </div>
  <div *ngIf="this.msgForm.status=='VALID'">
    <p>You can send a message now.</p>
  </div>
</form>